.about {
  padding-bottom: 60px;
  padding-top: 60px;
}
.about__item {
  margin-left: 30px;
}
.about__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.about__list {
  margin-left: -30px;
  margin-top: -30;
  display: block;
  justify-content: center;
}
.about .container .list {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .about__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    justify-content: center;
  }
  .about__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .about__text {
    max-width: 350px;
  }
  .about__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about_list {
    padding-top: 0;
  }

  .about__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}
