.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
}
.customer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -30px;

}
.customer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 3 - 30px);
  width: 170px;
  height: 90px;
  box-sizing: border-box;
}
.customer__link {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 170px;
  height: 90px;
  fill: $social-color;
  border: solid 1px $social-color;
  border-radius: 4px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 375px) {
  .customer__item {
    margin-top: 30px;
    margin-left: 30px;
  }
  .customer__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customer__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .customer__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__list {
    margin-left: -30px;
    display: flex;
    flex-wrap: nowrap;
  }
  .customer__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}
