.hero {
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  background-color: var(--footer-background-color);
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile/backgroundImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/mobile/backgroundImg@2x.jpg");
    }
  }
}

.hero__container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 118px 60px;
}
.hero__title {
  font-family: var(--main-font);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-background-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding: 118px 204px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/backgroundImg.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/backgroundImg@2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/backgroundImg.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/desktop/backgroundImg@2x.jpg");
      }
    }
  }

  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
