.team {
  background-color: var(--background-btn-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__list {
  display: block;
  justify-content: center;
  margin-top: -50px;
}
.team__item {
  margin-top: 30px;
  background-color: var(--header-background-color);
}
.team__img {
  display: block;
}
.team__format {
  padding: 30px;
  max-width: 100%;
  height: auto;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team__duty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}
.team__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.team__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--header-background-color);
    background-color: var(--accent-color);
  }
}
.team_social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  .team & {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
  }

  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    padding-top: 0;
  }

  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}
