.burger__btn,
.mobile-btn__close {
  display: block;

  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger__icon,
.mobile-btn__icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-btn__close {
  position: absolute;
  top: 10px;
  right: 15px;
}
