.portfolio__btn-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -8px;
  margin-bottom: 50px;
}

.portfolio__btn-item {
  flex-basis: calc(100% / 3- 8px);
  justify-content: start;
  margin-top: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio__btn {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
  cursor: pointer;
  background-color: $background-btn-color;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $header-background-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    justify-content: center;
  }
}
@media screen and (max-width: 1199px){
  .mobile-all{
    padding: 6px 13px;
  }
  .mobile-pages{
    padding: 6px 39px 6px 40px; 
  }
  .mobile-apps{
    padding: 6px 38px 6px 37px;
  }
  .mobile-design{
    padding: 6px 28px;
  }
  .mobile-marketing{
    padding : 6px 26px 6px 27px;
  }
    }
  